.dark {
    display: none;
}
.main > header {
    padding: 2em 0 2em 0;
}
.Wynik{
    font-size: 1.5em;
    color: #333;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}

